<!-- Navigation Menu -->
<%= render 'navmenu' %>

<!-- Home Search -->
<header class="hero-search">
  <div class="hero-search-content">
    <h1 class="hero-search-logo">Jobs That Are Left</h1>
    <form class="hero-search-form" action="">
      <label for="findtext">Search</label>
      <input id="findtext" class="hero-search-form-find" type="text" placeholder="Position title" />
      <div class="divider">&nbsp;</div>
      <label for="findlocate">Location</label>
      <input id="findlocate" class="hero-search-form-near" type="text" placeholder="City, State" />
      <button class="button"><i class="fa fa-search"></i></button>
    </form>
  </div>
</header>

